@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to CiBit";
}
<style>
    .outer-div{
        height: 460px;
    }
    table {
        margin: auto;
        border: 0px;
        text-align: center;
    }
    .start-option {
        color: black;
        width:100px;
        margin:10px;
    }
    .start-options {
        height:50px; 
        width:600px;
    }
    .logo {
        height: 150px;
    }
    .welcome{
        height:50px;
    }
</style>
<div class="outer-div">
    <table>
        <tr>
            <td class="welcome"><div><h1>Welcome to CiBit</h1></div></td>
        </tr>
        <tr>
            <td><div><img class="logo" src="~/images/CiBitgif.gif" /></div></td>
        </tr>
        <tr>
            <td class="start-options">
                <div>
                    <form method="post">
                        <input type="submit" id="login" class="start-option" value="Login" asp-page-handler="Login" />
                        <input type="submit" id="register" class="start-option" value="Register" asp-page-handler="Register" />
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>