@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to CiBit";
}

<div style="height:460px;">
    <table border="0">
        <tr>
            <td height="50"><div><h1>Welcome to CiBit</h1></div></td>
        </tr>
        <tr>
            <td><div><img style="height:150px" src="~/images/CiBitgif.gif" /></div></td>
        </tr>
        <tr>
            <td height="50" width="600">
                <div>
                    <form method="post">
                        <input type="submit" id="login" style="color:black" width="100" value="Login" asp-page-handler="Login" />
                        <input type="submit" id="register" style="color:black" width="100" value="Register" asp-page-handler="Register" />
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>