@page
@model CiBitWebApplication.Pages.UserNewTransactionModel
@{
    ViewData["Title"] = "AddTransaction";
    ViewData["User"] = "User";
    ViewData["Token"] = Model.Token;

}
<style>
    .wrap-div {
        height: 460px;
    }

    .info-td {
        color: black;
    }

    .btn {
        color: black;
        width: 150px;
    }

    .error-td {
        color: red;
    }

    .wrap-title, .wrap-div .wrap-btn {
        display: flex;
        justify-content: center;
    }

    .wrap-form {
        margin: auto;
    }


    .input-group-text {
        width: 250px
    }

    .wrap-div .wrap-btn {
        margin-left: 5px;
    }
    .input-group-text{
        margin: 10px 0px;
    }
</style>
<div class="wrap-div">
    <div class="wrap-title">
        <h1>Create a new transaction</h1>
    </div>
    <form>
        <table class="wrap-form">
            <tr>
                <td>
                    <span>Sent to [CiBit ID]:</span>
                </td>
                <td>
                    <input type="text" name="receiver" class="input-group-text">
                </td>
            </tr>
            <tr>
                <td>
                    <span>Research:</span>
                </td>
                <td>
                    <input type="text" name="research" class="input-group-text">
                </td>
            </tr>
            <tr>
                <td>
                    <span>Amount:</span>
                </td>
                <td>
                    <input type="text" name="amount" class="input-group-text">
                </td>
            </tr>
        </table>
        <div class="form-group">
        </div>
        <div class="d-flex center-block login_container wrap-btn">
            <button type="submit" name="button" style="color:black" class="btn">Send</button>
        </div>
    </form>
</div>

