@page
@model CiBitWebApplication.Pages.UserNewTransactionModel
@{
    ViewData["Title"] = "AddTransaction";
    ViewData["User"] = "User";
    ViewData["Token"] = Model.Token;
}

@section scripts{
    <script src="~/lib/jquery/jquery2.min.js"></script>
    <script>
        var selected;
        var url;
        var settings;
        var list = "@Model.UserList?.UserNamesList";
        var id = "@Model.UserId";
        var amount;
        var research;
        var receiver;
        var List;

        function Check() {
            amount =$("#Amount").val();
            research = $("#Research option:selected").val();
            receiver = $("#UserId option:selected").val();
            if (selected == 2) {
                if (amount > 0 && receiver !== null && receiver !== "")
                    $("#submit").attr("disabled", false);
                else
                    $("#submit").attr("disabled", true);
            }
            else if (selected == 1) {
                if (amount > 0 && id !== null && id !== "" && research !== null && research !== "")
                    $("#submit").attr("disabled", false);
                else
                    $("#submit").attr("disabled", true);

            }
            else
               $("#submit").attr("disabled", true);

        }

        function UpdateReciver() {
            selected = $("#type option:selected").val();
            $("#UserId").empty();
            if (selected == 2) {
                var token = $("#Token").val();
                $.getJSON(`?handler=UserBank&Token=${token}`, (data) => {
                    let index = 0;
                    $("#Token").val(data.tokenGet);
                    $.each(data.nameList, function (i, user) {
                        $("#UserId").append(`<option value="${data.idList[index]}" selected>${user}</option>`)
                        index++;
                    });
                });
                $("#ResearchInfo").hide();
            }
            else if (selected == 1) {
                $("#UserId").append("<option value=''>Select User</option>");
                var token = $("#Token").val();
                $.getJSON(`?handler=UsersList&Token=${token}`, (data) => {
                    let index = 0;
                    $("#Token").val(data.tokenGet);
                    $.each(data.nameList, function (i, user) {
                        $("#UserId").append(`<option value="${data.idList[index]}">${user}</option>`)
                        index++;
                    });
                });
                $("#ResearchInfo").show();
            }
            else {
                $("#Research").empty();
                $("#Research").append("<option value=''>Select Research</option>");
                $("#UserId").append("<option value=''>Select User</option>");
            }
            Check();
        }

        function UpdateResearch() {
            id = $("#UserId option:selected").val();
            $("#Research").empty();
            $("#Research").append("<option value=''>Select Research</option>");
            if (selected == 1) {
                var token = $("#Token").val();
                $.getJSON(`?handler=ResearchList&Token=${token}&id=${id}`, (data) => {
                    let index = 0;
                    $("#Token").val(data.tokenGet);
                    $.each(data.nameList, function (i, research) {
                        $("#Research").append(`<option value="${data.idList[index]}">${research}</option>`)
                        index++;
                    });
                });
            }
            Check();
        }

    </script>
}
<style>
    .wrap-div {
        height: 460px;
    }

    .info-td {
        color: black;
    }

    .btn {
        color: black;
        width: 150px;
    }

    .error-td {
        color: red;
    }

    .wrap-title, .wrap-div .wrap-btn {
        display: flex;
        justify-content: center;
    }

    .wrap-form {
        margin: auto;
    }

    .wrap-div .wrap-btn {
        margin-right: 45px;
    }

    .input-group-text {
        margin: 10px 0px;
    }
    input, select, .input-group-text {
        color: black;
        margin: 8px 0px;
        width: 300px;
    }

</style>
<div class="wrap-div">
    <div class="wrap-title">
        <h1>Create a new transaction</h1>
    </div>
    <form asp-page-handler="ProcessRequest" method="post">
        @Html.HiddenFor(model => model.Token, new { id = "Token" })
        <input type="hidden" asp-for="Token" value="@Model.Token" />
        <table class="wrap-form">
            <tr>
                <td>
                    <span>Transaction Type:</span>
                </td>
                <td>
                    <select id="type" onchange="UpdateReciver()" asp-for="TransactionType">
                        <option value="0" selected="selected">Select Type</option>
                        <option value="1">New Trasaction</option>
                        <option value="2">New Withdral</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Sent to:</span>
                </td>
                <td>
                    <select asp-for="UserId" onchange="UpdateResearch()" asp-items="Model.UserSelectList">
                        <option value="">Select User</option>
                    </select>
                </td>
            </tr>
            <tr id="ResearchInfo">
                <td>
                    <span>Research:</span>
                </td>
                <td>
                    <select asp-for="Research" onchange="Check()" asp-items="Model.ResearchSelectList">
                        <option value="">Select research</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Amount:</span>
                </td>
                <td>
                    <input type="text" onblur="Check()" asp-for="Amount" class="input-group-text">
                </td>
            </tr>
        </table>
        <div class="form-group">
        </div>
        <div class="d-flex center-block login_container wrap-btn">
            <button id="submit" type="submit" name="button" style="color:black" class="btn" disabled="disabled">Send</button>
        </div>
    </form>
</div>

