@page
@model CiBitWebApplication.Pages.UserResearchModel
@{
    ViewData["Title"] = "AddResearch";
}

<div style="height:460px">
    <h1>Add new research</h1>
    <form asp-page-handler="ProcessRequest" method="post">
        <table>
            <tr>
                <td>
                    <span>CiBit ID: </span>
                </td>
                <td style="color:black">
                    <input type="text" asp-for="CiBitId" class="input-group-text">
                </td>
            </tr>
            <tr>
                <td>
                    <span>Research Title: </span>
                </td>
                <td style="color:black">
                    <input type="text" asp-for="ResearchName" class="input-group-text">
                </td>
                <td style="color:red">
                    <label>@Model.ErrorMsgRsch</label>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Abstract: </span>
                </td>
                <td style="color:black">
                    <input type="text" asp-for="Abstract" style="height:300px; width:auto;min-width:600px" class="input-group-text">
                </td>
            </tr>
        </table>
        <div class="form-group">
        </div>
        <div class="d-flex center-block login_container">
            <button type="submit" name="button" style="color:black" class="btn">Submit</button>
        </div>
    </form>
</div>



