@page
@model CiBitWebApplication.Pages.UserNewTransactionModel
@{
    ViewData["Title"] = "AddTransaction";
    ViewData["User"] = "User";
    ViewData["Token"] = Model.Token;

}

@*@section scripts{
    <script>
    $(function () {
        $("#receiver").on("focusout ", function() {
            var categoryId = $(this).val();
            $("#SubCategoryId").empty();
            $("#SubCategoryId").append("<option value=''>Select SubCategory</option>");
            $.getJSON(`?handler=SubCategories&categoryId=${categoryId}`, (data) => {
                $.each(data, function (i, item) {
                    $("#SubCategoryId").append(`<option value="${item.subCategoryId}">${item.subCategoryName}</option>`);
                });
            });
        });
    });
    </script>*@
}
<style>
    .wrap-div {
        height: 460px;
    }

    .info-td {
        color: black;
    }

    .btn {
        color: black;
        width: 150px;
    }

    .error-td {
        color: red;
    }

    .wrap-title, .wrap-div .wrap-btn {
        display: flex;
        justify-content: center;
    }

    .wrap-form {
        margin: auto;
    }


    .input-group-text {
        width: 250px
    }

    .wrap-div .wrap-btn {
        margin-left: 5px;
    }

    .input-group-text {
        margin: 10px 0px;
    }
</style>
<div class="wrap-div">
    <div class="wrap-title">
        <h1>Create a new transaction</h1>
    </div>
    <form asp-page-handler="ProcessRequest" method="post">
        <input type="hidden" asp-for="Token" value="@Model.Token" />
        <table class="wrap-form">
            <tr>
                <td>
                    <span>Sent to [CiBit ID]:</span>
                </td>
                <td>
                    <input type="text" id="receiver" asp-for="ReceiverId" class="input-group-text">
                </td>
            </tr>
            <tr>
                <td>
                    <span>Research:</span>
                </td>
                <td>
                    @Html.DropDownListFor(x => Model.Research, Model.SelectList, "Select research", 1)

                </td>
            </tr>
            <tr>
                <td>
                    <span>Amount:</span>
                </td>
                <td>
                    <input type="text" asp-for="Amount" class="input-group-text">
                </td>
            </tr>
        </table>
        <div class="form-group">
        </div>
        <div class="d-flex center-block login_container wrap-btn">
            <button type="submit" name="button" style="color:black" class="btn">Send</button>
        </div>
    </form>
</div>

